{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":6,"column":6},"end":{"row":6,"column":6},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":43,"state":"start","mode":"ace/mode/text"}},"hash":"e8c0f33266b0a7c9ad8c1047bb1c279c48d40717","undoManager":{"mark":-1,"position":-1,"stack":[]},"timestamp":1561982893698}