/*-----------------------------------------------------------------header and nav sections------ */
.inner_nav_menu {
    margin: 0 auto;
    width: 100%;
}

.inner_nav_menu ul{
    margin: 0;
    padding: 50px 0 0;
    list-style: none;
    text-align: right;
}

.inner_nav_menu ul li {
    float: none;
    display: inline-block;
    
    
}
.inner_nav_menu ul li:nth-child(1) {float: left}
.inner_nav_menu ul li:nth-child(2) {float: left}
.inner_nav_menu ul li:nth-child(3) {float: left}

@media(max-width: 600px) { 
.inner_nav_menu ul li a {
    padding: 5px 10px;
    font-size: 10px;
}
}

.inner_nav_menu ul li a{
    color: #DC143C;
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
}

.active a{
    background-color: #DCDCDC;
}

.inner_nav_menu ul li a:hover{
    background-color: #DC143C;
    color: #fff;
}

#nav_menu{
    width: 100%;
    position: relative;
}

@media (max-width: 600px) { 
.logo a img {
        display: none!important
    }
}

.logo{
    width: 300px;
    height: 300px;
    position: absolute;
    left: 45%;
    top: 0;
    content: "";
}    
.logo a img{
    width: 150px; 
    height: 120px;
}
/*-------------------------------------------------------------------------------Showcase section-------------*/

#showcase .bg-image{
    background-image: linear-gradient(
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)
    ),
    url('/static/images/hero.jpg'); 
    background-repeat: no-repeat; 
    background-position: center;
    background-size: cover;
    height: 75vh;
    top: 0;
    text-align: center;
    color: white;
    font-weight: bold;
    transition: .5s;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 20px;
    padding-bottom: 0px;
}

.container {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 20px;
    padding-bottom: 0px;
}

hr {
    border: 1px solid #ee6e73;
    text-align: center;
    width: 20%;
    margin-top: 100px;
    margin-bottom: 40px;
}

h4, h4 {
    font-size: 1.7rem;
    text-align: center;
    color: #DC143C;
    font-weight: 700;
    padding: 30px;
}

h5, h5{
    color:  #DC143C;
    padding: 15px;
}

/*--------------------------------------------------------------------------------Footer section-------------*/

#footer .bg-image{
    background-image: linear-gradient(
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)
    ),
    url('/static/images/veggies.jpg'); 
    background-repeat: no-repeat; 
    background-position: center;
    background-size: cover;
    height: 75vh;
    top: 0;
    text-align: center;
    color: white;
    font-weight: bold;
    transition: .5s;
}

/*--------------------------------------------------------------------------------sign up section--------*/
.btn-success {
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.success{
    color: green
}
/*------------------------------------------------------------------------------------social media links------------*/

 .fa:hover{
color: grey;
}