{% extends 'base.html'%} {% set active_page = "add_recipe" %}
{% block content %}
<h4>Add Recipe</h4>
<div class="container">
    <div class="row">
        <form action="{{ url_for('insert_recipe')}}" method="POST" class="col-sm-12 pb-5" enctype="multipart/form-data">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label for="title"><strong>Recipe Name</strong></label>
                        <input type="text" class="form-control" id="title" placeholder="Enter recipe name" required>
                    </div>
                    <div class="col-md-6">
                        <select class="selectpicker btn-default" id="category_name"  name="category_name" style="margin-top: 30px; padding-bottom: 15px; padding-right: 90px;" required>
                            <option value=""disabled selected>Choose Category</option>
                            {% for cat in categories %}
                            <option value="{{ cat.category_name }}">{{ cat.category_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="description"><strong>Description</strong></label>
                <textarea class="form-control" id="description" name="description" aria-label="With textarea" required></textarea>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label for="cooking_time"><strong>Cooking Time</strong></label>
                        <input type="text" class="form-control" id="cooking_time" placeholder="Time hr/mins" required>
                    </div>
                    <div class="col">
                        <label for="serving"><strong>Serving</strong></label>
                        <input type="text" class="form-control" id="serving" placeholder="Enter number of people your recipe serve" required>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="ingredients"><strong>Ingredients</strong></label>
                <textarea class="form-control" id="ingredients" name="ingredients" aria-label="With textarea" required></textarea>
            </div>
            <div class="form-group">
                <label for="method"><strong>Method</strong></label>
                <textarea class="form-control" id="method" name="method" aria-label="With textarea" required></textarea>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label for="picture"><strong>Image</strong></label>
                        <input type="text" class="form-control" id="picture" name="picture" placeholder="paste image link" required>
                    </div>
                    <div class="col">
                        <label for="author"><strong>Author</strong></label>
                        <input type="text" class="form-control" id="author" name="author" placeholder="Add your name as Author" required>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label for="country_of_origin"><strong>Origin Country</strong></label>
                        <input type="text" class="form-control" id="country_of_origin" name="country_of_origin"  placeholder="Enter Origin Country" required>
                    </div>
                    <div class="col">
                        
                    </div>
                </div>
            </div>
            <button type="submit" method="POST" class="btn btn-outline-success btn-lg">Submit  <i class="fas fa-paper-plane"></i></button>
        </form>
    </div>
{% endblock %}