{% extends 'base.html'%} {% set active_page = "get_recipes" %}
{% block content %}
    <h4></h4>
    <div class="container">
        {% for recipe in rotmrecipes %}
        <div class="row">
            <div class="col-md-4 text-center">
                <h5 class="categories-header" style="color:  #DC143C; padding: 15px">Categories</h5>
                <ul class="list-group-danger" style="margin-top: 50px">
                    <li class="list-group-item"><a style="color: #DC143C" href="{{ url_for('breakfast_recipes') }}">Breakfast</a></li>
                    <li class="list-group-item"><a style="color: #DC143C" href="{{ url_for('brunch_recipes') }}">Brunch</a></li>
                    <li class="list-group-item"><a style="color: #DC143C" href="{{ url_for('lunch_recipes') }}">Lunch</a></li>
                    <li class="list-group-item"><a style="color: #DC143C" href="{{ url_for('dinner_recipes') }}">Dinner</a></li>
                    <li class="list-group-item"><a style="color: #DC143C" href="{{ url_for('dessert_recipes') }}">Dessert</a></li>
                    <li class="list-group-item"><a style="color: #DC143C" href="{{ url_for('starter_recipes') }}">Starter</a></li>
                    <li class="list-group-item"><a style="color: #DC143C" href="{{ url_for('sidedish_recipes') }}">Side Dish</a></li>
                    <li class="list-group-item"><a style="color: #DC143C" href="{{ url_for('snack_recipes') }}">Snack</a></li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-8 text-center">
                <h4 class="categories-header" style="color:  #DC143C; padding: 15px"><i class="fas fa-award"></i>   Recipe Of The Month</h4>
                <div class="card mb-3" style="width: 700px;">
                    <img src="{{ recipe.picture  }}" style="width: 100%; height: 300px;">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-9">
                                <h5 class="card-title">{{ recipe.title }}</h5>
                            </div>
                            <div class="col-3">
                                <a href="{{url_for('view_recipe', recipe_id=recipe._id)}}"><button class="btn btn-danger rounded-circle"><i class="fa fa-ellipsis-v"></i></button></a>
                            </div>
                        </div>
                        <p class="card-text">{{ recipe.description }}</p>
                    </div>
                    <div class="card-footer">
                        <p class="card-title"><i class="fa fa-user-circle"></i>    <strong>Author: {{ recipe.author }}</strong></h5>
                    </div>
                    <div class="card-footer">
                        <span class="card-text ml-3"><i class="fa fa-eye"></i> {{ recipe.views }}</span>
                        <span class="card-text ml-3"><i class="fa fa-heart"></i> {{ recipe.likes  }}</span>    
                        <span class="card-text ml-3"><i class="fas fa-stopwatch"></i> {{ recipe.cooking_time }}</span>
                        <span class="card-text ml-3"><i class="fa fa-utensils"></i> {{ recipe.serving }}</span>
                    </div>
                </div>
            </div>    
        </div>
        {% endfor %}
    </div>
    <hr>
    <h4>Recent Recipes</h4>
    <div class="container">
        {% for recipe_row in recipes | batch(3, '&nbsp;') %}
            <div class="card-deck" style="margin-bottom: 30px">
                {% for recipe in recipe_row %}
                    <div class="card mb-5">
                        <img src="{{ recipe.picture }}" alt="Recipe image" style="width: 100%; height: 250px">
                        <div class="card-body" style="width: 100%; height: 300px">
                            <div class="row">
                                <div class="col-9">
                                    <h5 class="card-title">{{ recipe.title }}</h5>
                                </div>
                                <div class="col-3">
                                    <a href="{{url_for('view_recipe', recipe_id=recipe._id)}}"><button class="btn btn-danger rounded-circle"><i class="fa fa-ellipsis-v"></i></button></a>
                                </div>
                            </div>
                            <p class="card-text">{{ recipe.description }}</p>
                        </div>
                        <div class="card-footer">
                            <p class="card-title"><i class="fa fa-user-circle"></i>    <strong>Author: {{ recipe.author }}</strong></h5>
                        </div>
                        <div class="card-footer">
                            <span class="card-text ml-3"><i class="fa fa-eye"></i> {{ recipe.views }}</span>
                            <span class="card-text ml-3"><i class="fa fa-heart"></i> {{ recipe.likes  }}</span>    
                            <span class="card-text ml-3"><i class="fas fa-stopwatch"></i> {{ recipe.cooking_time }}</span>
                            <span class="card-text ml-3"><i class="fa fa-utensils"></i> {{ recipe.serving }}</span>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}