{% extends 'base.html'%} 
{% set active_page = "home" %}
{% block content %}
<div class="container-fluid">
    <section id="showcase">
        <div class="bg-image">
        </div>
    </section>
</div>
<hr>
<h4>Popular Recipes</h4>
<div class="container">
    {% for recipe_row in recipes | batch(3, '&nbsp;') %}
        <div class="row">
           {% for recipe in recipe_row %}
                <div class="col s12 m6">
                    <div class="card">
                        <div class="card-image">
                            <img src="{{ recipe.picture  }}" style="width: 100%; height: 200px;">
                            <span class="card-title">{{ recipe.title }}</span>
                            <a class="btn-floating halfway-fab waves-effect waves-light red" href="{{url_for('view_recipe', recipe_id=recipe._id)}}"><i class="material-icons">more_vert</i></a>
                        </div>
                        <div class="card-content">
                            <h5>Author: {{ recipe.author }}</h5>
                            <p>{{ recipe.description }}</p>
                        </div>
                        <div class="card-content">
                            <div class="row" style="padding-left: 40px">
                                <i class="material-icons">remove_red_eye</i>
                                <p class="card-summary" style="padding-right: 20px">{{ recipe.views }}</p>
                                <i class="material-icons">favorite_border</i>
                                <p class="card-summary" style="padding-right: 20px">{{ recipe.likes }}</p>
                                <i class="material-icons">timelapse</i>
                                <p class="card-summary" style="padding-right: 20px">{{ recipe.cooking_time}}</p>
                                <i class="material-icons">restaurant</i>
                                <p class="card-summary" style="padding-right: 20px">{{ recipe.serving }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>

<hr>
<div class="container-fluid">
    <section id="footer">
        <div class="bg-image">
            
        </div>
    </section>
</div>

{% endblock %} 