{% extends 'base.html'%} {% set active_page = "login" %} 
{% block content %}
<div class="container">
    <div class="card mx-auto" style="width: 25rem;">
        <div class="card-body">
            <form method="POST" action="{{ url_for('login') }}">
               {{form.hidden_tag()}}<!--Csrf token-->
                <fieldset class="form-group">
                    <div class="form-header text-center">
						<h2>Login</h2>
						<p>Login to your account</p>
					</div>
                    <div class="form-field">
                        {{ form.email.label(class="form-control-label") }}
                    
                        {% if form.email.errors %}
                            {{ form.email(class="form-control form-control-sm is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.email(class="form-control form-control-sm") }}
                        {% endif %}
                    </div>
                    <div class="form-field">
                        {{ form.password.label(class="form-control-label") }}
                        {% if form.password.errors %}
                            {{ form.password(class="form-control form-control-sm is-invalid", size=20) }}
                            <div class="invalid-feedback">
                                {% for error in form.password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.password(class="form-control form-control-sm", size=20) }}
                        {% endif %}
                    </div>
                </fieldset>
                <div class="form-field">
                   {{ form.submit(class="btn-success") }}       
                </div>
            </form>
        </div>
        
        <div class="form-base text-center  pb-5">
            <p class="text-muted">
            <strong>Not registered?</strong><a class="ml-2" href="{{ url_for('signup') }}">Sign Up here</a>
            </p>
        </div>
        
    </div>
</div>    
{% endblock %}
