{% extends 'base.html'%} {% block content %}
<div class="container">
    <div class="col s12 m6">
    <h4 class="header">{{ recipe.title}} </h4>
    <div class="card horizontal center-align">
        <div class="row">
            <div class="card-image">
                <img src="{{ recipe.picture }}" style="left: 20px; top: 10px" >
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <i class="material-icons prefix">view_list</i>
                    <h5>Meal Category : {{ recipe.category }}</h5>
                </div>
                <div class="card-content">
                    <i class="material-icons prefix">timelapse</i>
                    <h5>Cooking time: {{ recipe.cooking_time}}</h5>
                </div>
                <div class="card-content">
                    <i class="material-icons prefix">restaurant</i>
                    <h5> Serving : {{ recipe.serving }} People</h5>
                </div>
                <div class="card-content">
                    <i class="material-icons prefix">location_on</i>
                    <h5>Country of Origin : {{ recipe.country_of_origin }}</h5>
                </div>
                <div class="card-content">
                    <div class="">
                        <ul>
                            <li class="list-inline-item"><i class="material-icons prefix">remove_red_eye</i><h5>Recipe Views :  {{recipe.views}}</h5></li>
                            <li class="list-inline-item" style="ml-4"><i class="material-icons prefix"><a href="{{url_for('like_recipe', recipe_id=recipe._id)}}" style="color: #000">thumb_up</a></i><h5>Recipe Likes :  {{ recipe.likes }}</h5></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="container text-center" style="padding-bottom: 60px">
    <div class="recipe-content">
        <div class="recipe-details" style="padding-bottom: 30px">
            <h3>Description</h3>
            <p>{{ recipe.description }}</p>
        </div>
        <div class="recipe-details">
            <h3>Ingredients</h3>
            <p> {{ recipe.ingredients }}</p>
        </div>
        <div class="recipe-details" style="padding-top: 30px; padding-bottom: 30px">
            <h3>Method (Instructions)</h3>
            <p>{{ recipe.method }}</p>
        </div>
    </div>

    <a href="{{url_for('edit_recipe', recipe_id=recipe._id)}}" class="btn waves-effect  blue accent-3">Edit Recipe</a>
    <a href="{{url_for('delete_recipe', recipe_id=recipe._id)}}" class="btn waves-effect  red accent-1">Delete Recipe</a>

</div>
{% endblock%}